<form class="col s12 white" #houseListingForm="ngForm" (ngSubmit)="OnSubmit(houseListingForm)">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="number" name="BuildingNumber" #BuildingNumber="ngModel" [(ngModel)] = "house.BuildingNumber">
      <label>Building Number</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="text" name="Address" #Address="ngModel" [(ngModel)]="house.Address">
      <label>Address</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="State" #State="ngModel" [(ngModel)]="house.State">
      <label>State</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="text" name="Name" #Name="ngModel" [(ngModel)]="house.Name">
      <label>Full Name of Head</label>
    </div>
  </div>

  <div class="row">
    <label class="input-field" >
      <input name="ownershipStatus" value="Owned" class="col s3" type="radio" #OwnerStatus="ngModel" [(ngModel)]="house.OwnerStatus" checked />
      <span>Owned</span>
    </label>
    <label>
      <input name="ownershipStatus" class="col s3" value="Rented" type="radio" #OwnerStatus="ngModel" [(ngModel)]="house.OwnerStatus">
      <span>Rented</span>
    </label>

    <div class="input-field col s6">
      <input class="validate" type="number" name="NoOfRoom" #NoOfRoom="ngModel" [(ngModel)]="house.NoOfRoom">
      <label>Number of Rooms</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="waves-effect waves-light submitBtn btn btn-large" type="submit">Submit</button>
    </div>
  </div>

</form>
