<form class="col s12 white" #houseListingForm="ngForm" (ngSubmit)="OnSubmit(houseListingForm)">
  <div class="row">
    <div class="input-field col s6">
      <input id="BuildingNumber" class="validate" type="text" name="BuildingNumber" #BuildingNumber="ngModel" [(ngModel)] = "house.BuildingNumber" required>
      <label for="BuildingNumber" >House or Building Number</label>
    </div>
    <div class="input-field col s6">
      <input id="Address" class="validate" type="text" name="Address" #Address="ngModel" [(ngModel)]="house.Address" required >
      <label for="Address" >Address</label>
    </div>
  </div>

  <div class="row">
    <div class=" select input-field col s6">
        <select name="State"  #State="ngModel" [(ngModel)] ="house.State" required>
          <option name="State" *ngFor="let option of states" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
    <div class="input-field col s6">
      <input id="Name" class="validate" type="text" name="Name" minlength="4" #Name="ngModel" [(ngModel)]="house.Name" required>
      <label for="Name" >Full Name of Head</label>
    </div>
  </div>

  <div class="row">
    <label class="input-field" >
      <input name="ownershipStatus" value="Owned" class="col s3" type="radio" #OwnerStatus="ngModel" checked="checked" [(ngModel)]="house.OwnerStatus" checked />
      <span>Owned</span>
    </label>
    <label>
      <input name="ownershipStatus" class="col s3" value="Rented" type="radio" #OwnerStatus="ngModel" [(ngModel)]="house.OwnerStatus">
      <span>Rented</span>
    </label>

    <div class="input-field col s6">
      <input id="NoOfRoom" class="validate" type="text" (keypress)="numberOnly($event)" name="noOfRoomsPattern" #NoOfRoom="ngModel" [(ngModel)]="house.NoOfRoom" required>
      <label for="NoOfRoom" >Number of Rooms</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button  [disabled]="!houseListingForm.valid" class="waves-effect waves-light submitBtn btn btn-large" type="submit">Submit</button>
    </div>
  </div>

</form>
